APP_PORT=8080
APP_NAME=checkout-lab
PGADMIN_PORT=8081
APP_URL=springboot.localhost
PG_ADMIN_URL=pgadmin.localhost
TRAEFIK_NETWORK=traefik
USE_TRAEFIK=0
HOST_UID=1000
HOST_GID=1000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB_NAME=checkout_lab
CONSOLE_LOG_PATTERN="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - reqId: %X{requestId} - %msg%n"
FILE_LOG_PATTERN="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - reqId: %X{requestId} - %msg%n"
LOG_PATH="var/log"
LOG_LEVEL=WARN
