APP_PORT=8080
PGADMIN_PORT=8081
APP_URL=springboot.localhost
PG_ADMIN_URL=pgadmin.localhost
TRAEFIK_NETWORK=traefik
USE_TRAEFIK=0
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB_NAME=checkout_lab
